@import "colores";

/*.header{
    background-image: linear-gradient(to bottom, $rojoP,$naranjaP);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
 }

.navbar-collapse{
    align-items: center;
    justify-content: center;
}
.nav-link{
    color: white;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
*/
@media only screen and (min-width:0px) and (max-width:969px){
    .header{
      text-align: center;
      .carrito{
        visibility: hidden;
      }
      .login{
        visibility: hidden;
      }
    }
  }
  /* vista desktop */
  @media only screen and (min-width:970px){
    
        .carrito{
            display: flex;
            align-items: center;
            img{
                width: 80%;
                height: auto;
            }
            
        }
        .login{
            display: flex;
            align-items: center;
            img{
                width: 80%;
                height: auto;
            }
        }
    
    .nav-item{
      padding-left: 30px;
      padding-right: 30px;
    }
    .form-inline{
      padding-left: 30px;
    }
  }