@charset "UTF-8";
/*.header{
    background-image: linear-gradient(to bottom, $rojoP,$naranjaP);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
 }

.navbar-collapse{
    align-items: center;
    justify-content: center;
}
.nav-link{
    color: white;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
*/
@media only screen and (min-width: 0px) and (max-width: 969px) {
  .header {
    text-align: center; }
    .header .carrito {
      visibility: hidden; }
    .header .login {
      visibility: hidden; } }

/* vista desktop */
@media only screen and (min-width: 970px) {
  .carrito {
    display: flex;
    align-items: center; }
    .carrito img {
      width: 80%;
      height: auto; }
  .login {
    display: flex;
    align-items: center; }
    .login img {
      width: 80%;
      height: auto; }
  .nav-item {
    padding-left: 30px;
    padding-right: 30px; }
  .form-inline {
    padding-left: 30px; } }

.labelCarousel {
  font-family: 'Prompt', sans-serif;
  font-style: italic;
  text-align: center;
  padding-top: 10px; }
  .labelCarousel img {
    width: 5%;
    height: auto; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
  .carousel-item .imgCarousel {
    width: 1300px;
    height: auto; }
  .carousel-item .carousel-caption {
    position: absolute;
    right: 15%;
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.2); */ }
  .carousel-item .labelSliderEnvio {
    position: absolute;
    right: 15%;
    top: 50px;
    left: 55%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    -webkit-text-stroke: 0.8px white;
    font-weight: bolder; }
    .carousel-item .labelSliderEnvio p {
      margin-top: 30px;
      font-size: 25px;
      color: #db8585; }
    .carousel-item .labelSliderEnvio h2 {
      font-size: 35px;
      color: #ca5656; }
  .carousel-item .gatoDurmiendo {
    position: absolute;
    right: 85%;
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px; }

.medioDePago {
  text-align: center;
  font-size: 1.5rem;
  color: orange;
  padding-top: 50px;
  padding-bottom: 50px; }
  .medioDePago h3 {
    padding-bottom: 30px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

.row {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px; }

.paddingRL {
  padding-left: 0px;
  padding-right: 0px; }

.header {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px; }

.navbar-collapse {
  align-items: center;
  justify-content: center; }

.nav-link {
  color: white;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

.footer {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px; }
  .footer .row {
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 5px; }
  .footer .colFooter {
    color: white;
    text-decoration: none; }
  .footer .centrado {
    text-align: center; }

/* border: 1px solid #cccccc;*/
/* vista mobile 
@media only screen and (min-width:0px) and (max-width:999px){
  .header{
    text-align: center;
    .carrito{
      display: none;
    }
    .login{
      display: none;
    }
  }
  .labelCarousel{
    font-size: 25px;
  }
  .carousel{
    width: 100%;
  }
  .imgMarcas{
    width: 50%;
    height: auto;
  }
  .imgFilas{
    width: auto;
    height: 200px;
  }
  .columnas{
    text-align: center;
    padding-top: 5px;
  }
  .footer{
    text-align: center;
  }
}
/* vista desktop 
@media only screen and (min-width:1000px){
  .header{
    .carrito{
      display: flex;
      align-items: center;
      img{
          width: 80%;
          height: auto;
      } 
    }
    .login{
        display: flex;
        align-items: center;
        img{
            width: 80%;
            height: auto;
        }
    }
  }  
  .nav-item{
    padding-left: 30px;
    padding-right: 30px;
  }
  .labelCarousel{
    font-size: 35px;
  }
  .form-inline{
    padding-left: 30px;
  }
  .imgFilas{
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: 250px;
  }
  .columnas{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  
}*/
.marcas {
  text-align: center;
  font-size: 1.5rem;
  color: orange;
  padding: 10px; }
  .marcas img {
    padding: 10px; }

.boton, .boton--comprar, .boton--añadir, .boton--enviar, .boton--resetear {
  width: 130px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer; }

.button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white; }

.boton--comprar {
  background-color: white;
  color: black;
  border: 2px solid #f06e0f; }

.boton--comprar:hover {
  background-color: #f06e0f;
  color: white; }

.boton--añadir {
  background-color: white;
  color: black;
  border: 2px solid #e31006; }

.boton--añadir:hover {
  background-color: #e31006;
  color: white; }

.boton--enviar {
  border-radius: 0px;
  background-color: white;
  color: black;
  border: 2px solid gray; }

.boton--enviar:hover {
  background-color: gray;
  color: white; }

.boton--resetear {
  border-radius: 0px;
  background-color: white;
  color: black;
  border: 2px solid darkgray; }

.boton--resetear:hover {
  background-color: darkgray;
  color: white; }

.fondo {
  background-image: url(../img/fondo-patas-colorido.jpg);
  background-size: cover;
  background-repeat: repeat; }
  .fondo .titulosCategorias {
    font-size: 25px;
    text-align: center;
    color: #f06e0f;
    padding-top: 20px;
    padding-bottom: 20px; }
  .fondo .imgCentrado {
    text-align: center;
    padding-top: 20px; }

.boton, .boton--comprar, .boton--añadir, .boton--enviar, .boton--resetear {
  width: 130px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer; }

.button:hover {
  background-color: #4CAF50;
  /* Green */
  color: white; }

.boton--comprar {
  background-color: white;
  color: black;
  border: 2px solid #f06e0f; }

.boton--comprar:hover {
  background-color: #f06e0f;
  color: white; }

.boton--añadir {
  background-color: white;
  color: black;
  border: 2px solid #e31006; }

.boton--añadir:hover {
  background-color: #e31006;
  color: white; }

.boton--enviar {
  border-radius: 0px;
  background-color: white;
  color: black;
  border: 2px solid gray; }

.boton--enviar:hover {
  background-color: gray;
  color: white; }

.boton--resetear {
  border-radius: 0px;
  background-color: white;
  color: black;
  border: 2px solid darkgray; }

.boton--resetear:hover {
  background-color: darkgray;
  color: white; }

.fondo {
  background-image: url(img/senderoHuellas.jpg);
  background-size: cover;
  background-repeat: repeat; }
  .fondo .titulosCategorias {
    font-size: 25px;
    text-align: center;
    color: #f06e0f;
    padding-top: 20px;
    padding-bottom: 20px; }
  .fondo .imgCentrado {
    text-align: center;
    padding-top: 20px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

.row {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px; }

.paddingRL {
  padding-left: 0px;
  padding-right: 0px; }

.header {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px; }

.navbar-collapse {
  align-items: center;
  justify-content: center; }

.nav-link {
  color: white;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

.footer {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px; }
  .footer .row {
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 5px; }
  .footer .colFooter {
    color: white;
    text-decoration: none; }
  .footer .centrado {
    text-align: center; }

/* border: 1px solid #cccccc;*/
/* vista mobile 
@media only screen and (min-width:0px) and (max-width:999px){
  .header{
    text-align: center;
    .carrito{
      display: none;
    }
    .login{
      display: none;
    }
  }
  .labelCarousel{
    font-size: 25px;
  }
  .carousel{
    width: 100%;
  }
  .imgMarcas{
    width: 50%;
    height: auto;
  }
  .imgFilas{
    width: auto;
    height: 200px;
  }
  .columnas{
    text-align: center;
    padding-top: 5px;
  }
  .footer{
    text-align: center;
  }
}
/* vista desktop 
@media only screen and (min-width:1000px){
  .header{
    .carrito{
      display: flex;
      align-items: center;
      img{
          width: 80%;
          height: auto;
      } 
    }
    .login{
        display: flex;
        align-items: center;
        img{
            width: 80%;
            height: auto;
        }
    }
  }  
  .nav-item{
    padding-left: 30px;
    padding-right: 30px;
  }
  .labelCarousel{
    font-size: 35px;
  }
  .form-inline{
    padding-left: 30px;
  }
  .imgFilas{
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: 250px;
  }
  .columnas{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  
}*/
.contProductos .groupCheckbox p {
  text-align: center;
  color: #f06e0f;
  font-weight: bolder; }

.contProductos .titulosCategorias {
  font-size: 25px;
  text-align: center;
  color: #f06e0f;
  padding-top: 20px;
  padding-bottom: 20px; }

.contProductos .imgCentrado {
  text-align: center;
  padding-top: 20px; }

.contProductos .paddingBot {
  padding-bottom: 22px; }

.contContacto {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .contContacto .recibirCon {
    text-align: left;
    justify-content: left; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

.row {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px; }

.paddingRL {
  padding-left: 0px;
  padding-right: 0px; }

.header {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px; }

.navbar-collapse {
  align-items: center;
  justify-content: center; }

.nav-link {
  color: white;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

.footer {
  background-image: linear-gradient(to bottom, #e31006, #f06e0f);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px; }
  .footer .row {
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 5px; }
  .footer .colFooter {
    color: white;
    text-decoration: none; }
  .footer .centrado {
    text-align: center; }

/* border: 1px solid #cccccc;*/
/* vista mobile 
@media only screen and (min-width:0px) and (max-width:999px){
  .header{
    text-align: center;
    .carrito{
      display: none;
    }
    .login{
      display: none;
    }
  }
  .labelCarousel{
    font-size: 25px;
  }
  .carousel{
    width: 100%;
  }
  .imgMarcas{
    width: 50%;
    height: auto;
  }
  .imgFilas{
    width: auto;
    height: 200px;
  }
  .columnas{
    text-align: center;
    padding-top: 5px;
  }
  .footer{
    text-align: center;
  }
}
/* vista desktop 
@media only screen and (min-width:1000px){
  .header{
    .carrito{
      display: flex;
      align-items: center;
      img{
          width: 80%;
          height: auto;
      } 
    }
    .login{
        display: flex;
        align-items: center;
        img{
            width: 80%;
            height: auto;
        }
    }
  }  
  .nav-item{
    padding-left: 30px;
    padding-right: 30px;
  }
  .labelCarousel{
    font-size: 35px;
  }
  .form-inline{
    padding-left: 30px;
  }
  .imgFilas{
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: 250px;
  }
  .columnas{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  
}*/
/* vista mobile */
@media only screen and (min-width: 0px) and (max-width: 969px) {
  .header {
    text-align: center; }
    .header .carrito {
      display: none; }
    .header .login {
      display: none; }
  .labelCarousel {
    font-size: 25px; }
  .carousel {
    display: none; }
  .imgMarcas {
    width: 32.5%;
    height: auto; }
  .imgFilas {
    width: auto;
    height: 200px; }
  .columnas {
    text-align: center;
    padding-top: 5px; }
  .footer {
    text-align: center; } }

/* vista desktop */
@media only screen and (min-width: 970px) {
  .header .carrito {
    display: flex;
    align-items: center; }
    .header .carrito img {
      width: 80%;
      height: auto; }
  .header .login {
    display: flex;
    align-items: center; }
    .header .login img {
      width: 80%;
      height: auto; }
  .nav-item {
    padding-left: 30px;
    padding-right: 30px; }
  .imgSliderMobile {
    display: none; }
  .labelCarousel {
    font-size: 35px; }
  .form-inline {
    padding-left: 30px; }
  .imgFilas {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: 250px; }
  .columnas {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px; } }

/*
@media only screen and (min-width:0px) and (max-width:969px){
    .header{
      text-align: center;
      .carrito{
        visibility: hidden;
      }
      .login{
        visibility: hidden;
      }
    }
    .imgFilas{
      width: auto;
      height: 200px;
    }
    .footer{
      text-align: center;
    }
  }
  /* vista desktop 
  @media only screen and (min-width:970px){
    .nav-item{
      padding-left: 30px;
      padding-right: 30px;
    }
    .form-inline{
      padding-left: 30px;
    }
    .imgFilas{
      width: auto;
      height: 400px;
  }

  }
  */
